/* шрифты */
$primary-font: "Martel Sans",
    "Arial",
    sans-serif;

$secondary-font: "Popins",
    "Arial",
    sans-serif;

/* media-разрешения */
$mobile-width: 320px;
$tablet-width: 768px;
$desktop: 1024px;
$desktop-width: 1330px;
$desktop-1: 1500px;
$desktop-2: 1630px;
$desktop-3: 1750px;
$fullHD-width: 1920px;

$black: #000000; // Цвет основной цвет текста
$white: #ffffff;
$transparent: transparent;

$blue-18A0FB: #18A0FB; // Основной цвет
$blue-088DE6: #088DE6; // Основной цвет темнее для градиента на бэкграунде


$grey-A0A3BD: #A0A3BD; // цвет текста время работы в шапке
$grey-E5E5E5: #E5E5E5; // цвет текста на схемах
$grey-4C4C4C: #4C4C4C; // дополнительный цвет текста
$grey-474747: #474747;
$grey-201F1F: #201F1F;
$grey-DFE4EE: #DFE4EE;
$grey-dark: #3F4255;
$grey-bg: #F2F4FA;
$grey-secondary: #9093A6;
$yellow-bright: #FFE145;
$yellow-dark: #B79C10;
$grey-light: #D4D7E5;