.header {
    min-height: 80px;
    border-bottom: 1px solid #9093A6;

    &__logo {
        display: block;
        padding-top: 24px;
        padding-bottom: 24px;
    }

    &__logo-svg {
        display: block;
        height: 24px;
    }

    &__menu-list {
        display: flex;
        list-style-type: none;
        width: 257px;
        justify-content: space-between;
        padding: 0;
    }

    &__menu-item {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $primary-font;
    }

    &__item-log {
        color: #9093A6;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        position: relative;
        padding-left: 24px;
        letter-spacing: 0.5px;
    }

    &__item-log::before {
        content: '';
        position: absolute;
        width: 24px;
        height: 24px;
        top: -2px;
        left: 0;
        background-image: url('/images/icons/stack.svg#log-in');
        background-position: center;
        background-repeat: no-repeat;
    }

    &__item-cart {
        color: #9093A6;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        position: relative;
        padding-left: 24px;
        letter-spacing: 0.5px;
    }

    &__item-cart::before {
        content: '';
        position: absolute;
        width: 24px;
        height: 24px;
        top: -2px;
        left: 0;
        background-image: url('/images/icons/stack.svg#cart');
        background-position: center;
        background-repeat: no-repeat;
    }

    &__item-burger {
        width: 48px;
        height: 48px;
        background-color: rgb(228, 222, 222);
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        border-radius: 50%;
    }

    &__burger-span {
        position: absolute;
        height: 2px;
        width: 24px;

    }

    &__burger-span:nth-child(2) {
        top: 12px;
    }

    &__burger-span:nth-child(3) {
        bottom: 12px;
    }


    &__burger {
        position: absolute;
        right: -50px;
        top: 101px;
        width: 285px;
        height: 820px;
        padding-left: 36px;
    }
}