.presentation {
  border-bottom: 1px solid red;

  &__container {
    max-width: 1440px;
    padding-top: 120px;
    @include bg-image(right top, 'presentation-bg');
  }

  &__block {
    max-width: 536px;
    height: 288px;
    display: grid;
    margin-left: 92px;
    margin-bottom: 276px;
    gap: 80px;
  }

  &__title {
    font-family: $secondary-font;
    font-size: 58px;
    font-weight: 100;
    line-height: 64px;
    letter-spacing: 3.3px;
    color: #3F4255;
    max-width: 534px;
    margin: 0;
  }

  &__order-way {
    display: flex;
    gap: 24px;
  }

  &__way-link {
    display: grid;
    gap: 1px;
    padding-left: 24px;
    padding-bottom: 18.5px;
    padding-right: 24px;
    padding-top: 18.5px;
    grid-template-rows: 17px 17px;
    border: 3px solid #FFE145;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
  }

  &__way-title {
    font-family: $primary-font;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.5px;
    font-size: 16px;
    text-align: center;
    color: #3F4255;
    display: block;
  }

  &__way-description {
    font-family: $primary-font;
    font-weight: 300;
    line-height: 16px;
    letter-spacing: 0.5px;
    font-size: 12px;
    text-align: center;
    color: #3F4255;
    display: block;
  }

  &__dignity-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    width: 930px;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 92px;
    gap: 46px;
    margin-bottom: 40px;
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.08);
  }

  &__dignity-item {
    display: flex;
    gap: 16px;
  }

  &__dignity-svg {
    width: 48px;
    height: 48px;
  }

  &__dignity-text {
    width: 182px;
    font-family: &primary-font;
    font-size: 16px;
    margin: 0;
    align-self: center;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #3F4255;
  }
}